<!-- <%= form_for(@owner) d o f %>
  <% i f @owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner.errors.count, error) %> prohibited this owner from being saved:</h2>

      <ul>
      <% @owner.errors.full_messages.each d o message %>
        <li><%= message %></li>
      <% e nd %>
      </ul>
    </div>
  <% e nd %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% e nd %> -->
